body {
    margin: 0;
    padding: 0;
    background-color: #282b39;
    color: white;
    font-family: "Montserrat", sans-serif;
}

a {
    color: #ffd166;
    text-decoration: none;
}

.Header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.Header h1 {
    font-weight: 300;
}

.Header a {
    text-decoration: none;
}

.Main {
    display: grid;
    grid-template-columns: minmax(auto, 1200px);
    justify-content: center;
}

.Characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    grid-row-gap: 1.5em;
}

.Character-card {
    background: #ffd166;
    border-radius: 20px;
    padding: 1.5rem;
}

.Character-card a {
    display: block;
}

.Character-details {
    color: #282b39;
}

.Character-details h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.Character-details span {
    padding: 0.3rem 0.5rem;
    background: #282b39;
    color: white;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.Character-card span[status="alive"] {
    background: #0cb263;
}

.Character-card span[status="dead"] {
    background: #eb5757;
}

.Character-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.Characters-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.Characters-wrapper {
    display: grid;
    grid-template-columns: 250px 2fr;
    grid-gap: 2.5rem;
    background: #ffd166;
    padding: 1.5rem;
    border-radius: 10px;
    color: #282b39;
    width: 600px;
    margin: 0 auto;
}

.Characters-imageWrapper {
    text-align: center;
    align-self: center;
}

.Characters-imageWrapper h2 {
    font-weight: 300;
}

.Characters-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.Characters-details {
    align-self: center;
    font-weight: 300;
}

.Characters-details h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.Main-loading {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
